<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mustache Renderer</title>
</head>
<style>
    body {
        font-family: "Helvetica Neue", sans-serif;
        display: grid;
        grid-template-columns: auto 500px 500px 500px auto;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
    }

    script.visible {
        font-family: monospace;
        display: block;
        white-space: pre;
        border: 1px solid grey;
        overflow: auto;
    }
</style>
<body>
<section style="grid-column-start: 2">
    <h1>Template</h1>
    <script id="input-template" type="text/html" class="visible" contenteditable="true">
        {{^unflagged}}{{#flag}}hello flagged {{name}}{{/flag}}{{/unflagged}}<br>
        hello {{name}}<br>
        hello {{#name}}{{.}}{{/name}}<br>
        hello {{#complexName}}{{name}}{{/complexName}}<br>
        {{#names}}
        hello {{.}}<br>
        {{/names}}
        {{^something}}hello nothing{{/something}}<br>
        {{helloFunction}}<br>
        {{#postProcessFunction}}-1 {{x}} 2-{{/postProcessFunction}}<br>
        flag: {{flag}}, unflagged: {{unflagged}}<br>
        {{! comment to ignore }}
        {{^flag}}
        should not be seen
        {{/flag}}
        {{notfound}}
        {{includedHtml}}<br>
        {{& includedHtml}}<br>
        {{{includedHtml}}}<br>
        {{#groups}}
        {{#list}}
        {{name}} hello {{.}}<br>
        {{/list}}
        {{/groups}}
        {{=<% %>=}}
        hello <% name %> with new tags<br>
        <%={{ }}=%>
        hello {{ name }} with normal tags again<br>
    </script>
</section>
<section>
    <h1>JSON</h1>
    <script class="visible" contenteditable="true">
        const inputData = {
            "name": "world",
            "names": [
                "one",
                "two",
                "three"
            ],
            "x": "XXX",
            "complexName": {
                "name": "Steve"
            },
            "helloFunction": () => "hello function",
            "postProcessFunction": (input, render) => render(input.replaceAll(/1/g, "hello").replaceAll(/2/g, "world")),
            "flag": true,
            "unflagged": false,
            "includedHtml": "<b>hello</b> world",
            "groups": [
                {
                    "name": "group name 1",
                    "list": [
                        "A",
                        "B",
                        "C"
                    ]
                },
                {
                    "name": "group name 2",
                    "list": [
                        "D",
                        "E",
                        "F"
                    ]
                }
            ]
        }
    </script>
</section>
<section style="grid-row-start: 3; grid-column-start: 2">
    <h1>Output</h1>
    <p id="output"></p>
</section>
<section style="grid-row-start: 3; grid-column-start: 3">
    <h1>Output raw</h1>
    <p id="output-raw" style="white-space: pre"></p>
</section>
<section style="grid-row-start: 1; grid-column-start: 4">
    <h1>Rendering</h1>
    <script type="module" class="visible">
        import renderMustacheTemplate from "./in-page-mustache.js";

        const rendered = renderMustacheTemplate({
            template: "{{> input-template}}",
            data: inputData
        });
        document.getElementById('output').innerHTML = rendered;
        document.getElementById('output-raw').innerText = rendered;
    </script>
</section>
<script>
    Object.values(document.querySelectorAll('script.visible')).forEach((element) => {
        const text = element.innerText;
        const rows = text.split("\n");
        for (let i = 0; i < rows.length; i++) {
            if (rows[i].trim().length > 0) {
                const rowMatch = rows[i].match(/^( +).*$/);
                if (!rowMatch) {
                    return;
                }
                const spacesAtStart = rowMatch[1];
                for (let j = 0; j < rows.length; j++) {
                    if (rows[j].startsWith(spacesAtStart)) {
                        rows[j] = rows[j].substring(spacesAtStart.length);
                    }
                }
                element.innerText = rows.join("\n");
                return;
            }
        }
        console.log(rows)
    })
</script>
</body>
</html>
